*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
	min-height: 100vh;
	color: #555;
	background-color: rgb(85, 179, 194);
}

form, .content{
	max-width: 400px;
	min-height: 350px;
	margin: 20px auto;
	border:  thin solid #e4e4e4;
	padding: 15px 30px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	background-color: white;
}

.form-header{
	width: 100%;
	justify-content: center;
	align-items: center;
	text-align: center;
}

form h2{
	margin-bottom: 10px;
}

form h4{
	margin-bottom: 40px;
	font-weight: normal;
}
form h4 span{
	color:  rgb(85, 179, 194);
	font-weight: bold;
	text-decoration: underline;
}
form label{
	display: block;
	margin-bottom: 5px;
	padding-left: 5px;
}

form input, form textarea{
	display: block;
	width:  100%;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 16px;
	border:  thin solid #e4e4e4;
}

form select{
	display: block;
	width:  100%;
	margin-bottom: 10px;
	padding: 10px;
	font-size: 16px;
	border:  thin solid #e4e4e4;
	background-color: white;
	color: #555;
}

form input:focus
{
	outline: none;
	border: thin solid rgb(85, 179, 194);
}

form textarea{
	min-height: 150px;
}

form input::placeholder{
	font-size: 16px;
}

form button{
	background: #32749a;
	color: white;
	border: none;
	padding: 15px;
	width:  100%;
	font-size: 16px;
	margin-top: 20px;
	cursor: pointer;
}

form button:active{
	background-color: green;
}

.userInfoMessage{
	color: #555;
	display: flex;
	width: 100%;
	justify-content: center;
}

.userInfoMessage p{
	margin-right: 5px;
}

.userNotifications{
	width: 100%;
	text-align: center;
}

.error{
	color: #af0c0c;
	margin-bottom: 10px;
}

.success{
	margin-top: 30px;
	color: green;
}

.content header a{
	text-decoration: none;
	padding: 6px 20px;
	border: thin solid #d4d4d4;
	font-size: 14px;
	font-weight: normal;
	background: #e4e4e4;
	color: #555;
}

.content header{
	justify-content: center;
	align-items: center;
	text-align: center;
	border-bottom: thin solid #e4e4e4;
	padding: 10px 0px;
}

.content main{
	margin-top: 50px;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
}

.link-to-login{
	margin: 10px 0px;
}